$base-lightest: hsla(205, 95%, 70%, 1);
$base-lighter: hsla(205, 95%, 60%, 1);
$base-light: hsla(205, 85%, 55%, 1);
$base-dark: hsla(205, 75%, 40%, 1);
$base-darker: hsla(205, 70%, 25%, 1);
$base-darkest: hsla(205, 70%, 15%, 1);

$grey-lightest: hsla(205, 0%, 75%, 1);
$grey-lighter: hsla(205, 0%, 60%, 1);
$grey-light: hsla(205, 0%, 48%, 1);
$grey-dark: hsla(205, 0%, 30%, 1);
$grey-darker: hsla(205, 0%, 25%, 1);
$grey-darkest: hsla(205, 0%, 15%, 1);

$contrast-lightest: hsla(50, 95%, 75%, 1);
$contrast-lighter: hsla(50, 95%, 60%, 1);
$contrast-light: hsla(50, 85%, 48%, 1);
$contrast-dark: hsla(50, 75%, 35%, 1);
$contrast-darker: hsla(50, 55%, 30%, 1);
$contrast-darkest: hsla(50, 55%, 15%, 1);

$red-lightest: hsla(17, 98%, 42%, 1);
$red-lighter: hsla(17, 95%, 38%, 1);
$red-light: hsla(17, 85%, 28%, 1);
$red-dark: hsla(17, 75%, 22%, 1);
$red-darker: hsla(17, 55%, 16%, 1);
$red-darkest: hsla(17, 55%, 12%, 1);

$overlay: hsla(205, 75%, 75%, 0.3);
